body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #c8dad3; */
    background-image: url('./Assests/Background/Parallax\ Desert\ Combined\ Background.png');
}